.contacts__title {
  margin: 0;
  padding: 38px 30px;

  color: #000000;
  font-size: 18px;
  line-height: 30px;
}

.contacts__address {
  padding: 0 30px;
  margin-bottom: 37px;
}

.contacts__map {
  margin-bottom: 39px;
}


.contacts__button {
  margin: 0 30px;
  margin-bottom: 39px
}
