.main-nav__list {
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-weight: 700;

  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 28px 30px;

  color: #000000;
  text-align: center;

  box-shadow: 0 1px 0 #ececec;

  &:not(.main-nav__link--active):hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:not(.main-nav__link--active):active {
    opacity: 0.3;
  }

  & path {
    fill: rgba(35, 31, 32, 0.2);
  }

  &:hover path {
    fill: rgba(99, 209, 187, 1);
  }
}

.main-nav__link--search .main-nav__icon {
  width: 18px;
  height: 18px;
}

.main-nav__link--basket .main-nav__icon {
  width: 21px;
  height: 18px;
}
