.order {
  padding: 0 30px;
}

.order__description {
  margin: 24px 0;
  margin-bottom: 22px;

  font-size: 13px;
}

.order__asterisk {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
}

.order__button {
  margin-bottom: 55px;
  width: 100%;
}
