.slider__button {
  padding: 0;
  width: 130px;
  height: 52px;
  box-sizing: border-box;

  border: 1px solid adjust-color($white, $red: -19, $green: -19, $blue: -19);
  background-color: transparent;
}

.slider__button--back {
  border-right: none;
}
